node_modules/
lib
lib-esm/
lib-wasm/
lib-wasm-py/
dist/
types/
.yarn

docs/.vitepress/dist
docs/.vitepress/cache

# CMake build artifacts
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
*.o
*.o.d
*.bin